@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* In your CSS */
:root {
  --color-primary: #6c63ff;
  --color-secondary: #3ecf8e;
  --color-bg-gray: #f3f4f5;
  /* ... */
}

.lang-zh h1, h2, h3, h4, h5, h6 {
  font-family: 'ZCOOL KuaiLe', sans-serif;
}

.lang-en h1, h2, h3, h4, h5, h6 {
  font-family: 'Suez One', sans-serif;
}
